<main class="main-content">
  <div class="home-container" title="Image d'accueil">
    <img class="logo" src="/assets/logo_cesizen.jpg" alt="Logo"/>
    <!--<div class="search-bar"></div>-->
    <div class="home-theme-div">
      <span class="home-theme">CesiZen</span>
    </div>
  </div>
  <div class="container">
      <div class="home-intro">
          <p class="">
              Évaluez votre bien-être :<br />
              Remplissez notre diagnostic en ligne pour mieux comprendre votre état mental.
          </p>
          <button class="home-button" routerLink="/diagnostics">Click</button>
      </div>
  </div>
  <div class="home-content">
    <p class="home-title">Bienvenue sur Cesizen</p>
    <ul class="home-content-list">
      <li>
        Respirez profondément, vivez pleinement. Découvrez des techniques de respiration pour améliorer votre bien-être et réduire
        le stress quotidien.
      </li>
      <li>
        Articles inspirants pour une vie équilibrée. Plongez dans nos articles pour des conseils et des astuces sur la santé mentale,
        la gestion du stress, l'anxiété, et bien plus encore.
      </li>
      <li>
        Évaluez votre bien-être Remplissez notre diagnostic en ligne pour mieux comprendre
        votre état mental et obtenir des recommandations personnalisées.
      </li>
      <li>
        Prenez soin de votre esprit Explorez des ressources pour une meilleure santé
        mentale et trouvez des solutions adaptées à vos besoins.
      </li>
      <li>
        Votre bien-être, notre priorité Trouvez des solutions adaptées à vos besoins
        et commencez votre voyage vers une vie plus équilibrée et sereine.
      </li>
    </ul>
  </div>
  <app-caroussel></app-caroussel>

</main>
