.latest-articles {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #ffeaa8;
  height: 65vh;
  grid-auto-flow: column;
  margin-top: 2rem;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
  }
}

.cards-articles {
  width: 20rem;
  height: 20rem;
  margin: auto;
  border-radius: 3px;
  position: relative;
  overflow-wrap: break-word;
}

.img-article {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.article-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-style: italic;
  position: absolute;
  top: 0;
  background: rgba(24, 24, 24);
  opacity: 0.7;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 1rem;
  width: 100%;
}

.article-author {
  font-size: 0.8rem;
  font-weight: 500;
}

.article-div:hover {
  height: 100%;
}

.category-div {
  margin-bottom: 4rem;
}
.cards-categories {
  width: 19rem;
  height: 18rem;
  border-radius: 3px;
}
.category-name {
  color: white;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  background: rgba(24, 24, 24, 0.66);
  transform: translateY( -80%);
  padding: 30px 0px;
  border-radius: 5px;
  box-sizing: content-box;
  z-index: 1;
}
