.latest-articles {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #ffeaa8;
  height: 50vh;
  grid-auto-flow: column;
  margin-top: 2rem;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
  }
}

.cards-articles {
  margin: auto;
  border-radius: 3px;
  position: relative;
  overflow-wrap: break-word;
}
.img-article {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.article-div {
  font-style: italic;
  position: absolute;
  top: 0;
  background: rgba(24, 24, 24);
  opacity: 0.7;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 1rem;
  margin: auto;
  width: 200px;
}
.article-author {
  font-size: 0.8rem;
  font-weight: 500;
}
.article-div:hover {
  height: 100%;
}
