<h1 class="h1-primary">Articles inspirants</h1>
<p class="text-center">Une vie équilibrée Plongez dans nos articles pour des conseils et des astuces sur la santé mentale, la gestion du stress, l'anxiété, et bien plus encore.</p>

<div class="latest-articles">
  <p class="h1-articles-title">Les dernières articles</p>
  <div *ngFor="let article of articles; let i = index; trackBy: trackById"
       class="cards-articles"
       (mouseover)="activeIndex = i"
       (focus)="onFocus()"
       (mouseleave)="activeIndex = null">
    <a (click)="onViewSingleArticle(article.id)"
       (keydown.enter)="onViewSingleArticle(article.id)"
       tabindex="0"
       role="button">
      <img class="img-article" src="https://picsum.photos/200" alt="img-article" />
      <div class="article-div font-seconde">
        <div *ngIf="activeIndex === i; else elseBlock" class="article-description">
          {{ article.description }}
        </div>
        <ng-template #elseBlock>
          <div>
            « {{ article.title }} »
            <span class="article-author">
              ~ {{ article.author }}
            </span>
          </div>
        </ng-template>
      </div>
    </a>
  </div>
</div>

<h1 class="h1-primary">Catégories</h1>
<!--<div *ngFor="let category of categories;">
  <a href="#">
    <img class="img-category" src="https://picsum.photos/200" alt="img-category" />
    <div class="category-div">
      <div *ngIf="activeIndex === i" class="category-title">
        {{ category.title }}
      </div>
    </div>
  </a>
</div>-->
