version: '3.8'

services:
  # Development Environment
  cesizen-client-dev:
    container_name: cesizen-client-dev
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000" 
      - "8080:8080" # Angular dev server port
      - "9876:9876"  # Karma test port (if you want to run tests inside Docker)
    volumes:
      - ./:/app  # Mount project directory
      - /app/node_modules  # Persist node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true  # File watching for Docker
    command: npm start  # or "ng serve"

  # Production Environment
  cesizen-client-prod:
    container_name: cesizen-client-prod
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"  # Production web server port
    depends_on:
      - cesizen-client-dev  # Optional:  Wait for dev build to be successful first
