footer {
  width: 100%;
  height: 40%;
  background: rgba(24, 24, 24);
  margin: 0;
  border-radius: 5px;
  color: white;
  padding: 2rem;

  ul {
    line-height: 2;

    a {
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      color: #f1c40f;
    }
  }

  p {
    font-size: 0.8rem;
    margin-top: 10px;
  }
}
