.content {
  text-align: justify;
}
.signature {
  justify-content: end;
  text-align: end;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
