/* You can add global styles to this file, and also import other style files */
@use "reset";
@use "tailwindcss";

  * {
    font-family: "Asap", Arial, Helvetica, sans-serif;
  }

  header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
  }
  main {
    height: 100%;
    width: 76%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
  }

  article {
    min-height: 100vh;
    width: 76%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
    background-color: #FFFCF0;
  }

