/* You can add global styles to this file, and also import other style files */
@use "reset";
@use "tailwindcss";
@import "app/abstract-styles/_mixins.scss";

//COLORS
$primary-color: #FBD14B;//yellow-nav
$secondary-color: #FFFCF0;//yellow-article
$black-color: rgba(24, 24, 24);//footer, btn, etc..
$black-shadow-color: rgba(24, 24, 24, 0.66);//title-shadow...
$font-color: #2A2A2A; //text
$btn-hover-color: #444; //btn hover

//FONTS
$font-primary: "Asap", Arial, Helvetica, sans-serif;
$font-seconde: "Bitter", Arial, Helvetica, sans-serif;

* {
  font-family: $font-primary;
}
.font-seconde {
  font-family: $font-seconde; //title, h1, etc..
}

//HEADER
header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

main {
  @include main-center;
}

.main-content {
  background-color: $secondary-color;
  position: relative;
  top: 0;
}

//ARTICLE
article {
  @include main-center(12%, 100vh);
  background-color: $secondary-color;
}

//H1 TITLE


.h1-primary {
  @include title-h1(2rem auto);
}
.h1-articles-title {
  @include title-h1(1rem auto);
  width: 250px;
  background-color: white;
  position: absolute;
  margin-top: 1rem;
  margin-left: 2rem;
  border: none;
  font-size: 1.2rem;
}
.h1-form-title {
  @include title-h1(1.2rem auto);
  font-size: 1.2rem;
}
.h1-articleByCategory-title {
  @include title-h1(1.2rem auto);
  width: 250px;
  font-size: 1rem;
}

.box-div-article {
  @include box-div;
  width: 80%;
  min-height: 80vh;
}
.box-div-articles {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.66);
  padding: 0.5rem 1rem;
  margin: 1.5rem auto;
}
.box-div-connexion {
  @include box-div;
}
.box-div {
  @include box-div;
  @include flex-center;
}

.B-btn {
  @include black-button;
}
.B-btn:hover {
  background-color: $btn-hover-color;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  min-height: 40px;
  max-height: 100px; /* Set your desired maximum height */
  overflow-y: auto;
  word-break: break-word;
  background-color: rgb(176, 252, 231, 0.3);
  border: #287e5e dashed;
  color: #287e5e;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
}

.toast.success {
  background-color: rgb(176, 252, 231, 0.5);
  border: #287e5e dashed;
  color: #287e5e;
}

.toast.error {
  background-color: rgb(255, 197, 197, 0.50);
  border: #cb5d52 dashed;
  color: #cb5d52;
}

.toast.warning {
  background-color: rgb(252, 220, 176, 0.50);
  border: #de9f52 dashed;
  color: #de9f52;
}

.toast-title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 4px;
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: solid 1px
}

.toast-message {
  font-size: 0.98em;
}
