/* You can add global styles to this file, and also import other style files */
@use "reset";
@import "tailwindcss";
* {
  font-family: "Asap", Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

