/* You can add global styles to this file, and also import other style files */
@use "reset";
@use "tailwindcss";

//COLORS
$primary-color: #FBD14B;//yellow-nav
$secondary-color: #FFFCF0;//yellow-article
$black-color: rgba(24, 24, 24);//footer, btn, etc..
$black-shadow-color: rgba(24, 24, 24, 0.66);//title-shadow...
$font-color: #2A2A2A; //text
$btn-hover-color: #444; //btn hover

//FONTS
$font-primary: "Asap", Arial, Helvetica, sans-serif;
$font-seconde: "Bitter", Arial, Helvetica, sans-serif;

* {
  font-family: $font-primary;
}
.font-seconde {
  font-family: $font-seconde; //title, h1, etc..
}

//HEADER
header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}
//flex-box center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
//MAIN
@mixin main-center($size: 12%, $article: 0) {
  height: 100%;
  width: 76%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: $size;
  margin-right: $size;

  @if $article != 0 {
    min-height: $article;
  }
}
main {
  @include main-center;
}
.main-content {
  @include main-center;
  background-color: $secondary-color;
  position: relative;
  top: 0;
}

//ARTICLE
article {
  @include main-center(12%, 100vh);
  background-color: $secondary-color;
}

//H1 TITLE
@mixin title-h1($margin) {
  width: 300px;
  color: #2a2a2a;
  font-family: $font-seconde;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 20px;
  margin: $margin;
  text-shadow: 1px 1px 1px #e0e0e0;
}

.h1-primary {
  @include title-h1(2rem auto);
}
.h1-articles-title {
  @include title-h1(1rem auto);
  width: 250px;
  background-color: white;
  position: absolute;
  margin-top: 1rem;
  margin-left: 2rem;
  border: none;
  font-size: 1.2rem;
}
.h1-form-title {
  @include title-h1(1.2rem auto);
  font-size: 1.2rem;
}

//WHITE-BOX
@mixin box-div {
  width: 50%;
  min-height: 50vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.66);
  padding: 1rem 4rem;
  margin: 3rem auto;
}
.box-div-article {
  @include box-div;
  width: 80%;
  min-height: 80vh;
}
.box-div-connexion {
  @include box-div;
}
.box-div {
  @include box-div;
  @include flex-center;
}

//BUTTON
@mixin black-button {
  font-size: 1rem;
  cursor: pointer;
  background-color: $black-color;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  margin-top: 2rem;
}

.B-btn {
  @include black-button;
}
.B-btn:hover {
  background-color: $btn-hover-color;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  min-height: 40px;
  max-height: 100px; /* Set your desired maximum height */
  overflow-y: auto;
  word-break: break-word;
  background-color: rgb(176, 252, 231, 0.3);
  border: #287e5e dashed;
  color: #287e5e;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
}

.toast.success {
  background-color: rgb(176, 252, 231, 0.5);
  border: #287e5e dashed;
  color: #287e5e;
}

.toast.error {
  background-color: rgb(255, 197, 197, 0.50);
  border: #cb5d52 dashed;
  color: #cb5d52;
}

.toast.warning {
  background-color: rgb(252, 220, 176, 0.50);
  border: #de9f52 dashed;
  color: #de9f52;
}

.toast-title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 4px;
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: solid 1px
}

.toast-message {
  font-size: 0.98em;
}
