form {
  width: 100%;
  min-height: 100%;

  .title-form {
    margin-bottom: 2rem;
  }
  .checkbox-form {
    display: flex;
    flex-direction: column;
  }
  .box-row {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: row;
  }
  .div-type {
    margin: 1rem;
  }
}
.B-btn {
  margin-left: auto;
  margin-right: auto;
}
