<footer>
  <div class="grid grid-cols-4 gap-4">
    <ul>
      <li></li>
    </ul>
    <ul>
      <li><a routerLink="#">Contactez-nous</a></li>
      <li><a routerLink="#">Mentions légales</a></li>
      <li><a routerLink="/rgpd">Politique de confidentialité</a></li>
    </ul>
    <ul>
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/articles">Articles</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/exercises">Execices</a></li>
        <li><a routerLink="/about">A propos de nous</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/profile/{{ userData?.id }}">Profil</a></li>
    </ul>
    <div>
      <a href="https://sante.gouv.fr/" target="_blank"><img src="/assets/static-images/footer/logo_gouv.png" alt="logo de gouvernement" title="logo de gouvernement" /></a>
      <p>© Neque porro quisquam est qui dolorem ipsum</p>
    </div>
  </div>
</footer>
