.main-wrapper {
  width: 100%;
  //height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 100px;

  .head-wrapper {
    margin: 0 auto;
    width: 75%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-div {
      h1 {
        font-size: 4rem;
        margin: 0;
      }

      h2 {
        font-size: 2rem;
        margin: 0;
      }
    }
  }

  .content-wrapper {
    width: fit-content; // shrink to fit grid content
    margin: 0 auto; // center horizontally
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 columns
    grid-template-rows: repeat(2, auto); // 2 rows, height auto
    gap: 20px; // spacing between grid items
  }
}
