@import '../../abstract-styles/variables';

.exercise-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgb(128, 128, 128);
  margin: 2rem auto;
}

.exercise-item {
  flex: 1;
  padding: 0 10px;
}

.exercise-item:last-child {
  flex: none;
}

.play-arrow {
  color: #2ecc40;
  transform: scale(1.5);
}

.play-arrow:hover {
  color: $primary-color;
  cursor: pointer;
  transform: scale(1.2);
}

.btn-play {
  margin-right: 20px;
}

.delete:hover {
  color: $primary-color;
  cursor: pointer;
}
