<button class="openbtn" (click)="clickEvent()">☰ Open Sidebar</button>
<nav class="nav" [ngStyle]="{ display: status ? 'block' : 'none' }">
    <a class="closebtn" (click)="clickEvent()">×</a>
  <ul class="nav-ul">
    <li class="nav-li">
      <span class="material-symbols-outlined">
        home
      </span>
      Accueil
    </li>
    <li class="nav-li">
      <span class="material-symbols-outlined">
        library_books
      </span>
      Articles
    </li>
    <li class="nav-li">
      <span class="material-symbols-outlined">
        cardiology
      </span>
      Exercises
    </li>
    <li class="nav-li">
      <span class="material-symbols-outlined">
        prescriptions
      </span>
      Diagunostic
    </li>
  </ul>

  <div class="nav-div-buttons">
    <button class="nav-button">Inscription</button>
    <button class="nav-button">Se connecter</button>
  </div>
</nav>
