.box-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 50vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.66);
  padding: 1rem 4rem;
  margin: 3rem auto;
}
h1 {
  //h1 est pareille que celui de h1 title sauf with et margin
  width: 300px;
  color: #2a2a2a;
  font-family: Bitter;
  font-style: italic;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1px 1px 1px #e0e0e0;
}
form {
  width: 100%;
  min-height: 100%;
}
.title-form {
  margin-bottom: 2rem;
}
.checkbox-form {
  display: flex;
  flex-direction: column;
}
.box-row {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
}
.div-type {
  margin: 1rem;
}
