<!-- category-list.component.html -->
<div class="wrapper">
  <h1>categorys</h1>
  <div class="table-container">
    <!-- Loading indicator -->
    <mat-spinner *ngIf="loading" diameter="40" class="loading-spinner"></mat-spinner>

    <div class="table-scroll-wrapper">
      <div class="scroll-wrapper">
        <!-- Table -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td class="row-line" mat-cell *matCellDef="let category"> {{category.id}} </td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td class="row-line" mat-cell *matCellDef="let category"> {{category.name}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let category" class="row-line actions-cell">
              <button mat-icon-button color="primary" (click)="viewDetails(category.id)">
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let category" class="row-line actions-cell">
              <button mat-icon-button color="accent"
                      (click)="$event.stopPropagation(); updateCategory(category.id)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let category" class="row-line actions-cell">
              <button mat-icon-button color="warn" (click)="$event.stopPropagation(); deleteCategory(category.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>

    <!-- Paginator -->
    <mat-paginator [length]="totalCount"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPageChange($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>
