.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 12px 12px;
  border: none;
  position: sticky;
  border-radius: 50%;
  top: -20;
  left: 0;
  z-index: 1;
}

.openbtn:hover {
  background-color: #444;
}
.nav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #FBD14B;
  transition: 0.5s;
  padding-top: 60px;

  .nav-div {
    text-align: center;
  }

  .nav-ul {
    padding: 1rem;
    list-style: none;
    display: inline-block;
    text-align: left;
  }

  .material-symbols-outlined {
    margin-right: 0.5rem;
  }

  .nav-link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
    color: #111;
  }

  .nav-link:hover {
    transform: translateX(20px);
    color: #FFFCF0;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .active {
    transform: translateX(20px);
    color: #FFFCF0;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .nav-li {
    margin-top: 0.3rem;
  }

  .nav-div-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
  }

  .nav-button {
    margin: 5px 20px;
    background-color: #FFFCF0;
    border-radius: 50px;
    padding: 15px 10px;
    cursor: pointer;
    border: solid 0.5px;
    font-size: 15px;
    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.66);
  }

  .nav-button:hover, .activeBtn {
    background-color: #bca251;
  }

  .username {
    margin-bottom: 1rem;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }

  .showSideBar {
    display: block;
  }

  .hideSideBar {
    display: none;
  }
}
.logo {
  width: 30%;
  border-radius: 3px;
  margin: auto;
  margin-top: 8rem;
}

.square {
    background-color: black;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 100px;
}

.icon {
  margin-right: 10px;
}

.admin {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.admin:hover {
  transform: scale(1.2);
  color: #FFFCF0;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
