<header>
  <button class="openbtn" [ngStyle]="{ display: status ? 'none' : 'block' }" (click)="clickEvent()">☰ Menu</button>
  <nav class="nav" [ngStyle]="{ display: status ? 'block' : 'none' }">
      <a class="closebtn" (click)="clickEvent()" (keydown.enter)="clickEvent()" tabindex="0" role="button">×</a>
    <div class="nav-div">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-link" routerLink="/"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon class="home icon">
                        home
                    </mat-icon>
                    Accueil
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-link" routerLink="/articles" routerLinkActive="active">
                    <mat-icon class="library_books icon">
                        library_books
                    </mat-icon>
                    Articles
                </a>
            </li>
            <li class="nav-li" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/exercises" routerLinkActive="active">
                    <mat-icon class="free_breakfast icon">
                        free_breakfast
                    </mat-icon>
                    Exercices
                </a>
            </li>
            <li class="nav-li">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">
                    <mat-icon class="face icon">
                        face
                    </mat-icon>
                    A propos de nous
                </a>
            </li>
            <li class="nav-li" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/profile/{{ userData?.id }}" routerLinkActive="active">
                    <mat-icon class="person icon">
                        person
                    </mat-icon>
                    Votre profil
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-div-buttons">
        <div class="text-center" *ngIf="isLoggedIn">
            <p class="font-seconde username">Bienvenue, {{ userData?.username }}</p>
            <button class="nav-button" (click)="logout()" (keydown.enter)="logout()">Déconnexion</button>
        </div>
        <div class="text-center" *ngIf="!isLoggedIn">
            <button class="nav-button" routerLink="/inscription" routerLinkActive="activeBtn">Inscription</button>
            <button class="nav-button" routerLink="/se-connecter" routerLinkActive="activeBtn">Se connecter</button>
        </div>
        <img class="logo" src="/assets/logo_cesizen.jpg" alt="Logo" />
    </div>
  </nav>
</header>
