.logo-aside {
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  position: absolute;
}

.logo-left-aside {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 75px;
  position: absolute;
}

.logo {
  position: relative;
  top: 15px;
  right: 40px;
  border-radius: 3px;
  margin-bottom: 20px
}

.logo-left {
  position: relative;
  top: 15px;
  right: 40px;
  border-radius: 3px;
  margin-bottom: 20px
}

.home-container {
  width: 100%;
  height: 400px;
  background-image: url("/assets/static-images/home/home_cezizen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

/* Responsive theme box */
.home-theme-div {
  width: 90vw;
  max-width: 500px;
  height: 6rem;
  background: rgba(24, 24, 24, 0.66);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-theme {
  color: rgba(255, 252, 240, 1);
  font-weight: lighter;
  letter-spacing: 0.3rem;
  font-size: 2.2rem;
  opacity: 1;
  text-align: center;
}

.container {
  margin: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* Responsive intro */
.home-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1.5rem;
  line-height: 1.5;
}

.home-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.home-content {
  border: solid 1px #ddd;
  padding: 2rem 1rem;
  margin: 1rem 3%;
  text-align: start;
  background: #fff;
  border-radius: 8px;
}

.home-content-list {
  list-style: inside;
  list-style-position: outside;
}

li {
  margin-bottom: 0.5rem;
}

/* --- Responsive Styles --- */
@media (min-width: 600px) {
  .home-container {
    height: 600px;
  }

  .home-theme-div {
    width: 60vw;
    height: 8rem;
    max-width: 700px;
  }

  .home-theme {
    font-size: 3.5rem;
    letter-spacing: 0.7rem;
  }

  .home-intro {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2rem;
  }

  .home-content {
    padding: 3rem 4rem;
    margin-left: 7%;
    margin-right: 7%;
  }

  .home-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 900px) {
  .home-container {
    height: 820px;
  }

  .home-theme-div {
    width: 40vw;
    height: 15rem;
    max-width: 900px;
  }

  .home-theme {
    font-size: 5rem;
    letter-spacing: 1rem;
  }

  .home-content {
    padding: 70px 120px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .home-theme-div {
    width: 98vw;
    height: 4rem;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
  }

  .home-theme {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  .container {
    margin: 1rem 0.5rem 1.5rem 0.5rem;
  }

  .home-content {
    padding: 1rem 0.5rem;
    margin: 0.5rem;
    font-size: 0.95rem;
  }
}
