# Multi-stage build reduces final image size
name : CesiZen-Client - CI Pipeline

on:
  push: 
    branches:
      - develop
  pull_request:
    branches: 
      - develop
      - main

env:
  IMAGE_NAME: umhra/cesizen-client
  VERSION: latest

jobs:
  test:
    name: Install dependencies - Run Tests
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout Code
    - name: Checkout
      uses: actions/checkout@v4
    # Step 2: Setup Node
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with: 
        node-version: 18
        cache: 'npm'
    # Step 3: Dependencies Installation
    - name: Dependencies Installation
      run: npm install
    # Step 4: Quality : Lint
    - name: lint Code
      run: npm run lint
    # Step 5: Unit Test
    - name: Unit Tests
      run: npm run test -- --watch=false --browsers=ChromeHeadless
  
  sonar:
    name: Sonar analize
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Cache SonarQube Cloud packages
      uses: actions/cache@v4
      with:
        path: ~\sonar\cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar
    - name: Cache SonarQube Cloud scanner
      id: cache-sonar-scanner
      uses: actions/cache@v4
      with:
        path: .\.sonar\scanner
        key: ${{ runner.os }}-sonar-scanner
        restore-keys: ${{ runner.os }}-sonar-scanner
    - uses: sonarsource/sonarqube-scan-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}


  build:
    name: Build project
    runs-on: ubuntu-latest
    needs: [test, sonar]

    steps:
      # Step 1: Checkout Code
      - name: Checkout
        uses: actions/checkout@v4
      # Step 2: Setup Node.js
      - name: Setup Node
        uses: actions/setup-node@v4
        with: 
          node-version: 18
      # Step 4: Build Project
      - name : Build
        run: npm run build -- --configuration production

  docker-image:
    name: Docker Image and Push to Hub
    runs-on: ubuntu-latest
    needs: build
    if: > 
       ${{ github.event_name == 'pull_request' || 
        github.ref == 'refs/heads/develop' }}

    steps:
      # Step 1: Checkout
      - name: Checkout
        uses: actions/checkout@v4
      # Step 2: Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      # Step 3: Docker - Build and push Image to Hub
        # cache-from and cache-to directives in the GitHub Actions workflow 
        # enable Docker Layer Caching, which speeds up Docker builds by 
        # reusing unchanged layers from previous builds
      - name: Docker Image - Build and push to Hub
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name == 'pull_request' }}
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.VERSION }}
        # This tells Docker Buildx to pull cached layers from the GitHub 
        # Actions cache storage backend
        # If cached layers exist from previous builds, they will be used 
        # to speed up the current build
          cache-from: type=gha
          cache-to: type=gha,mode=max
      # Step 4: Check Image Exist
      - name: Check Image
        run : |
          echo "Docker Image has been successfully pushed."
        


    #if: > 
        #${{ github.event_name == 'pull_request' || 
        #github.ref == 'refs/heads/main' || 
        #github.ref == 'refs/heads/master' || 
        #github.ref == 'refs/heads/develop' }}

    